:root {
    /* shounic color :3 */
    --color-bg: #304654;
    --color-light-bg: rgb(54, 79, 94);
    --color-dark-bg: #222d34;

    --color-menu-button-hover: #395a6e;
    --color-button-outline: #222d34;
    --color-standard-button: #7494ae;
    --color-standard-button-selected: #d0dce6;

    
    --color-link-hover: #19a8f6;
    --color-link-active: #19a8f6;
    --color-link-resting: #19a8f6;
    --color-link-visited: #ff8e2a;
    

    --color-text: #e9f1f5;
    --color-text-faded: #e9f1f5a6;
    --color-text-footer: #e9f1f575;
    --color-header: #e9f1f5;

    --color-dark-text: #222d34;

    /* 'Afacad Flux' */

    --min-double-wide-width: 500px;

    --font: Verdana, Arial, sans-serif;
}

/* for debug :3 */
/*
* { 
    outline: 1px solid lime;
    outline-offset: -1px;
}
*/


path { fill: var(--color-dark-bg); }


a { color: var(--color-link-resting); }
a:focus { color: var(--color-link-resting); }
a:hover { color: var(--color-link-resting); }
a:active { color: var(--color-link-resting); }
a:visited  { color: var(--color-link-visited); }


body {
    background-color: var(--color-bg); 
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-family: var(--font);
    color: var(--color-text);
}

p {
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-family: var(--font);
}


.headerText {
    color: var(--color-text-faded);
    font-size: 2em;
    padding: 0.5em 0em !important;
}

.pageTitleText {
    font-size: 30px;
    text-align: center;
}

@media (max-width: 560px) {
    .pageTitleText {
        font-size: 28px;
    }
}

@media (max-width: 500px) {
    .pageTitleText {
        font-size: 24px;
    }
}


button {
    font-family: var(--font);
    font-size: 1.3em;
    color: var(--color-text);
    border: none;

    transition: 0.15s;
}

iframe {
    /* border: none; */
    transition: 0.15s;
}

form {
    height: 100%;
}


.headerWrapper {
    display: grid;
    grid-template-columns: 1fr minmax(0, 700px) 1fr;
    background-color: var(--color-dark-bg);
    overflow: hidden;
    padding: 2px;
}

@media (max-width: 800px) {
    .headerWrapper {
        grid-template-columns: 1fr minmax(0, 700px) 1fr;
    }
}

@media (max-width: 650px) {
    .headerWrapper {
        grid-template-columns: 1fr minmax(0, 700px) 1fr;
    }
}

.pageTitle {
    margin-left: 20px; 
    margin-right: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 1fr minmax(0, 560px) 1fr;
    grid-template-rows: 1fr 55px max-content 55px 0px max-content 55px 55px minmax(25px, min-content) max-content 1fr;
    row-gap: 25px;
    column-gap: 20px;

    grid-template-areas: 
        ". . ."
        ". head ."
        ". vid1 ."
        ". vot1 ."
        ". gerr ."
        ". vid2 ."
        ". vot2 ."
        ". vsub ."
        ". errm ."
        ". guid ."
        ". . .";
}

.gigaErrorMessageBoxRoot {
    grid-area: gerr;
    display: grid;
    justify-content: center;
    align-content: center;
}

.gigaErrorMessageBoxRoot > div {
    position: relative;
}

.floatingGigaErrorMessageBox {
    --width: 100vw;
    --height: 120px;

    position: absolute;
    width: var(--width);
    height: var(--height);
    left: calc(var(--width) / -2);
    top: calc(var(--height) / -2);

    display: grid;
    justify-content: center;
    align-content: center;

    background-color: #222d34af;
}

#gigaErrorMessage {
    font-family: var(--font);
    font-size: 30px;
    text-align: center;
    max-width: 700px;

    padding-left: 30px;
    padding-right: 30px;
}


@media (max-width: 750px) { 
    #gigaErrorMessage {
        font-size: 26px;
    }
}

@media (max-width: 550px) { 
    #gigaErrorMessage {
        font-size: 22px;
    }
}


.makingRoomForTheBigErrorMessage {
    opacity: 0.5;
}


@media (min-width: 950px) { 
    .contentWrapper {
        grid-template-columns: 1fr minmax(300px, 560px) 2px minmax(300px, 560px) 1fr;
        grid-template-rows: 1fr 55px max-content 55px 55px minmax(25px, min-content) max-content 1fr;
        column-gap: 22px;
        grid-template-areas: 
        ". .    .    .    ."
        ". head head head ."
        ". vid1 gerr vid2 ."
        ". vot1 gerr vot2 ."
        ". vsub vsub vsub ."
        ". errm errm errm ."
        ". guid guid guid ."
        ". .    .    .    .";
    }

    .floatingGigaErrorMessageBox {
        --width: 800px;
        left: calc(var(--width) / -2);
        top: calc(var(--height) / -2);

        background-color: inherit;
    }

    .makingRoomForTheBigErrorMessage {
        opacity: 0;
        visibility: hidden;
    }
}

/*
.leftPaddingBox {
    grid-area: lpad;
}

.rightPaddingBox {
    grid-area: rpad;
}

.topPaddingBox {
    grid-area: tpad;
}

.bottomPaddingBox {
    grid-area: bpad;
}
*/





.contentHeader {
    text-align: center;
}

.invis {
    opacity: 0;
}

.embedBox1 {
    grid-area: vid1;
}

.embedBox2 {
    grid-area: vid2;
}

.aspectRatioRespectingChad {
    display: grid;
    justify-content: center;
    align-content: center;
    aspect-ratio: 16/9;
    width: 100%;
    background-color: var(--color-light-bg);
    overflow: hidden;
}

.parentRespectingVideoEmbed {
    width: 100%;
    height: 100%;
}

.voteButtonBox1 {
    grid-area: vot1;
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-template-areas: ". btn .";
}

.voteButtonBox1 > button {
    grid-area: btn;
}

.voteButtonBox2 {
    grid-area: vot2;
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-template-areas: ". btn .";
}

.voteButtonBox2 > button {
    grid-area: btn;
}

.voteSubmitBox {
    grid-area: vsub;
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-template-areas: ". btn .";
}

.voteSubmitBox > button {
    grid-area: btn;
}

.errorMessageBox {
    grid-area: errm;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.guideBox {
    grid-area: guid;
    padding-left: 60px;

}

.guideBox > p {
    text-align: left;
    font-size: 18px;
}

.guideBox > ol {
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    color: var(--color-text);
    font-family: var(--font);
}


@media (max-width: 950px) {
    .guideBox {
        padding-left: 0px;
        
    }

    .guideBox > p {
        text-align: center;
        font-size: 16px;
    }

    .guideBox > ol {
        text-align: center;
        font-size: 16px;
        list-style-position: inside;
    }

    .errorMessageBox {
        font-size: 16px;
    }
}

.footerBox {
    color: var(--color-text-faded);
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 7px;
}


.menuButton {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
}

.menuButton:hover {
    background-color: var(--color-menu-button-hover);
    color: white;
}

.menuBtnIcon {
    display: none;
    font-size: 30px;
}

@media (max-width: 800px) {
    .menuBtnText {
        display: none;
    }

    .menuBtnIcon {
        display: initial;
    }
}

.standardButton {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: var(--color-dark-bg);
    margin: 0 calc(50% - 170px/2);
    border: 0px solid var(--color-dark-bg);
}

.standardButton:disabled {
    border: 2px solid var(--color-dark-bg);
    color: var(--color-dark-text);
    background-color: transparent;
}

.standardButton:hover:not([disabled]) {
    border: 2px solid var(--color-text);
}

.selectedButtonState {
    border: 2px solid var(--color-text);
    background-color: var(--color-text);
    color: var(--color-dark-text);
}

.selectedFrameState {
    box-shadow: 0px 2px 0px var(--color-text);
}

.hidden {
    display: none !important;
}

/* layout flexbox */
.contentWrapper-v2 {
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
}

/* Video Flexboxes */
.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.videos > * {
    flex: 1;
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.videos > * > * {
    margin-bottom: 1em;
}

.videos > * > iframe {
    flex: 1;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    transition: all 80ms;
    border: 0px solid white;
    box-sizing: border-box;
}

.videos > *.selected > iframe {
    border-bottom-width: 1em !important;
}

/* when voting is done/queue is empty */
.videos-over {
    font-size: 4em;
    display: flex;
    font-weight: bolder;
    margin: 1em;
    height: 5em;
    justify-content: center;
    align-items: center;
}

/* todo commit this to oldbttn */

.standardButton-2 {
    height: 2.5em;
    width: 100%;
    border-radius: 12px;
    background-color: var(--color-dark-bg);
    /* margin: 0 calc(50% - 170px/2); */
    border: 0px solid var(--color-dark-bg);
}

.standardButton-2:disabled {
    border: 2px solid var(--color-dark-bg);
    color: var(--color-dark-text);
    background-color: transparent;
}

.standardButton-2:hover:not([disabled]) {
    border: 2px solid var(--color-text);
}

.mysides {
    width: 80%;
    align-self: center;
}

/* ErrorBox */
.error {
    /* padding: 0.2em; */
    margin: 0.5em;
    text-align: center;
    border-radius: 0.5em;
    border: solid 2px red;
    max-height: 10em;
    transition: all 100ms;
    overflow: auto;
}

/* Floating Thing */
.bigFloatingText {
    /* hl3 confirmed????!!?!?!?!?!?! */
    z-index: 3;
    background-color: #000000ad;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}
.bigFloatingTextContainer {
    font-size: 2em;
    font-weight: bold;
    background-color: var(--color-dark-bg);
    border-radius: 0.2em;
    padding: 0.5em;
}

@media only screen and (max-width: 374px) {
    .videos {
        flex-direction: column;
    }
    .videos > * {
        margin: 0.5em;
    }
    .videos > * > * {
        margin-bottom: 0.4em;
    }
    .contentWrapper-v2 { 
        padding: 0.1em;
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .videos {
        flex-direction: column;
    }
    .videos > * {
        margin: 1em;
    }
    .videos > * > * {
        margin-bottom: 0.6em;
    }
    .contentWrapper-v2 { 
        padding: 0.5em;
    }
}
@media (min-width: 950px) {
    .videos > * {
        margin: 1em;
    }
    .videos > * > * {
        margin-bottom: 0.8em;
    }
}